#include "resources.h"

//Resource definitions
IDR_ROCKET_IMAGE IMAGE "assets\\rocket.png"
IDR_ROCKET_TRAIL_IMAGE IMAGE "assets\\rockettrail.png"
IDR_ROCKET_THRUST_IMAGE IMAGE "assets\\rcs_thrust.png"
IDR_EXPLOSION_IMAGE IMAGE "assets\\explosion.png"